body,
ul,
form > input {
    margin: 0;
    padding: 0;
}
body {
    color: #fff;
    background-color: #234465;
    font-family: Tahoma,sans-serif;
    font-size: 14px;
}
header {
    max-width: 1276px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 36px;
    position: relative;
}
li {
    list-style: none;
    
}
ul ul {
    display: none;
}
ul ul.visible {
    display: block;
}
nav {
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-transform: uppercase;
}
#logo {
    position: relative;
}
#logo > span {
    position: absolute;
    top: 8px;
    right: 6px;
    font-size: 11px;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
form > input {
    padding: 8px;
    margin: 0;
    border: 1px solid #fff;
}
form > input:focus {
    outline: 0;
}
input[type="text"] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 233px;
    color: #367cae;
}
input[type="submit"] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    background-image: url(../images/magn-glass-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    border-left: 1px solid #d5d5d5;
    cursor: pointer;
    width: 38px;
}
input[type="submit"]:hover {
    background-color: #367cae;
}
#logo > img {
    height: 73px;
}

#mainNav {
    position: absolute;
    right:0;
}
#mainNav > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
ul a {
    padding: 5px 7px;
    text-transform: uppercase;
    display: block;
    line-height: 33px;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    border-radius: 5px;
    transition: background-color .3s ease;
    font-weight: bold;
}
#mainNav > ul:first-child a:hover {
    background-color: transparent;
    text-decoration: underline;
}
ul a:hover {
    text-decoration: none;
    background-color: #4ca0db;
    transition: all .3s ease;
}
.withSubmenu > a:after {
    content: "";
    margin-left: 2px;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
}
.withSubmenu > a:active {
    background: #FF9C00;
}
#profileNav > li:first-child a {
    background-image: url(../images/notificationsIcon.png);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px;
    margin-right: 10px;
}
#profileNav li:last-child {
    margin-right: 10px;
}