body {
    margin: 0;
    padding: 0;
    background-image: url(../images/formBackground.jpg);
    font-family: Tahoma;
}
fieldset {
    border: 0;
    padding-bottom: 7px;
    padding-top: 8px;
}
legend {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.4px;
    margin-left: -2px;
}
fieldset > div {
    background-color: rgba(255,255,255, 0.4);
    padding: 5px 8px;
    border: 1px solid #fff;
    border-radius: 7px;
    margin-bottom: 1px;
}
form {
    width: 369px;
    margin-top: 16px;
    margin-left: 2px;
}
label {
    font-size: 12px;
    display: inline-block;
    width: 88px;
}
input {
    padding-left: 3px;
    line-height: 20px;
    width: 177px;
    font-size: 12px;
    border-radius: 2px;
    border: 0;
}
label[for="address"] {
    vertical-align: top;
    padding-top: 5px;
}
textarea {
    height: 77px;
    width: 175px;
    margin-bottom: 2px;
}
fieldset:last-of-type {
    margin-top: 2px;
}
.radioGroup > div {
    margin-right: 12px;
    line-height: 25px;
    display: inline-block;
}
.radioGroup > div:last-child{
    margin-right: 0;
}
.radioGroup > div > * {
    display: inline;
    vertical-align: -webkit-baseline-middle;
}
.radioGroup span {
    margin-left: -5px;
    font-size: 12px;
}
input[type="radio"] {
    width: 10px;
    height: 10px;
    margin-top: -2px;
}
span.biggerSpan {
    font-size: 11px;
}
.radioGroup {
    box-sizing: border-box;
    padding: 0px 9px;
}
img {
    margin-left: -4px;
    height: 26px
}
#submit {
    text-align: center;
}
input[type="submit"] {
    width: 88px;
    border-radius: 12px;
    line-height: 23px;
    border: 0px;
    background-color: #04152f;
    color: #fff;
    font-size: 12px;
}
input {
    
}