body {
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    background-image: url(../images/colorful_dots_on_black.jpg);
    width: 1582px;
}
body > header {
    text-align: center;
    background-image: linear-gradient(
        to right, 
        #ff0000 527px,
        #008000 0px,
        #008000 1054px,
        #0000ff 0px,
        #0000ff 1582px);
    color: #ffff00;
    height: 100px;
    font-size: 61px;
    width: 1582px;
    font-weight: bold;
}
aside {
    float: left;
    background-color: rgba(255, 255, 255, 0.9);
    width: 316px;
    margin: 40px 0 0 16px;
    border-radius: 28px;
    padding: 20px;
    box-sizing: border-box;
}
body > section {
    float: left;
    width: 1162px;
    margin: 40px 40px 40px 44px;
    position: relative;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style-position: inside;
    margin: 0;
}
nav li > a {
    background-image: url(../images/check.gif);
    background-position: 8px 13px;
    background-repeat: no-repeat;
    padding-left: 40px;
    width: inherit;
    vertical-align: middle;
    display: block;
    line-height: 41px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
}
nav li > a:visited {
    color: gray;
}
nav li > a:hover {
    background-color: #ff0000;
}
nav > header {
    text-decoration: underline;
    font-size: 30px;
    margin-bottom: 8px;
}
article {
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 18px;
    border-radius: 26px;
}
#webColors {
    border-radius: 10px;
    line-height: 53px;
    background-color: red;
    color: #fff;
    padding: 10px 10px 10px 16px;
    font-size: 36px;
    padding-left: 16px;
    margin-bottom: 5px;
}
#webColors + div {
    font-size: 20px;
}
#webColors + div::first-letter {
    font-size: 80px;
    font-style: italic;
    padding-left: 5px;
}
#webColors + div::first-line{
    font-style: italic;
}
article footer {
    margin-top: 5px;
}
article footer a {
    font-style:italic;
    color: #808080;
    font-size: 20px;
}