body {
    margin: 10px;
    padding: 0;
    background-color: #00923e;
    font-family: Tahoma;
}
#container {
    text-align: center;
    background-color: #fff;
    border-collapse: collapse;
}
col:nth-child(1),
col:nth-child(3){
    width: 106px;
}
col:nth-child(2)
{
    width: 61px;
}
col:nth-child(4)
{
    width: 59px;
}
col:nth-child(5)
{
    width: 90px;
}
col:nth-child(7) {
    width: 88px;
}
col:nth-child(8) {
    width: 35px;
}
col:nth-child(6)
{
    width: 68px;
}
th {
    line-height: 28px;
}
td {
    font-size: 12px;
    line-height: 32px;
    height: 32px;
    position: relative;
}
td:first-child, 
th:first-child,
td:nth-child(5) {
    text-align: right;
    padding-right: 5px;
}
td:nth-child(3),
th:nth-child(3),
td:nth-child(7) {
    text-align: left;
    padding-left: 5px;
}
img {
    height: 10px;
}
#container, td, th {
    border: 2px solid black;
}
#container {
    border-radius: 10px;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child,
tr:last-child > td:first-child,
tr:last-child > td:last-child{
    border-radius: 10px;
}
tr:nth-child(2n) {
    background-color: #c8c8c8;
}
thead > tr {
    background-color: #f8c711;
}
figure {
    display: inline;
    margin: 0;
}
figure > * {
    display: inline;
}
.disabled_bet {
    top: 0;
    left: 0;
    background-size: 23px;
    position: absolute;
    background-position: center center;
    width: 100%;
    height: 100%;
    background-image: url(../images/bet_inactive.png);
    background-repeat: no-repeat;
}
select {
    width: 23px;
    height: 21px;
    font-size: 13px;
}
select:disabled {
    background-color: #dcdcdc;
}