<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <ul class="breadcrumb">
        <li><a href="/">Ads</a></li>
        <li class="active" ng-bind="getPageTitle($route.current.templateUrl)"></li>
      </ul>
    </div>

    <!--TODO: Admin links-->
    <!--<div class="navbar-collapse collapse" id="navbar-main">-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href=""><span ng-bind="getPageTitle($route.current.templateUrl)"></span></a></li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
</div>
